<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Caitlan Jeffrey</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Google Font (Montserrat) -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">

  <!-- Local CSS -->
  <!-- <link rel="stylesheet" href="./main.css"> -->
  <link rel="stylesheet" media="screen and (max-width: 600px)" href="/assets/css/main-small.css">
  <link rel="stylesheet" media="screen and (min-width: 601px" href="/assets/css/main-large.css">

</head>

<body>
  <!-- Navigation -->
  <div class="navigation sticky-top">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
    </ul>
  </div>

  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid shadow-lg p-3 mb-5 bg-white rounded">
    <img id="logo" src="/assets/images/Flying-Butterflies-PNG-Transparent-Image.png">

    <div class="container">
      <h1 class="welcome-text name">CAITLAN JEFFREY</h1>
      <h1 class="welcome-text">FULL STACK WEB DEVELOPER</h1>
      <h1 class="welcome-text">PROJECT MANAGER</h1>
    </div>
  </div>

  {{{body}}}

  {{!-- Footer --}}
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h5 class="white-text">Thank you for visiting my page!</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
            content.</p>
        </div>
        <div class="col-sm-12 col-md-6">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="footer-link grey-text text-lighten-3" href="https://github.com/caitlanjeffrey">Github</a>
            </li>
            <li>
              <a class="footer-link grey-text text-lighten-3"
                href="https://www.linkedin.com/in/caitlan-jeffrey">LinkedIn</a>
            </li>
            <li>
              <a class="footer-link grey-text text-lighten-3" href="#!">Link 3</a>
            </li>
            <li>
              <a class="footer-link grey-text text-lighten-3" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2020 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <!-- CDN -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
    integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!-- Local JavaScript -->
  <script src="/assets/javascript/index.js"></script>

</body>

</html>