<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Caitlan Jeffrey</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Google Font (Montserrat) -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">

  <!-- Local CSS -->
  <!-- <link rel="stylesheet" href="./main.css"> -->
  <link rel="stylesheet" href="/assets/css/phone_portrait.css">
  <link rel="stylesheet" href="/assets/css/phone_landscape.css">
  <link rel="stylesheet" href="/assets/css/main-large.css">


</head>

<body>
  <!-- Navigation -->
  <div class="navigation sticky-top">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
    </ul>
  </div>

  {{{body}}}

  {{!-- Footer --}}
  <footer class="page-footer">
    <div class="contact-me-part-1">
      <div class="container">
        <h4 class="contact-me-title">LET'S MEET AND TALK!</h4>
        <h4 class="contact-me-title-bottom">CALL ME 580.548.3554</h4>
        <h4 class="contact-me-title-bottom">OR SEND ME AN EMAIL</h4>
        <button class="btn btn-primary" id="send-email-btn">Send Email</button>
      </div>
    </div>

    <hr class="my-4">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 footer-2">
          <h5 class="white-text">Thank you for visiting my page!</h5>
            <blockquote class="blockquote mb-0">
              <p>When you're a kid, you color with reckless abandon. You color outside the lines. You
              color however you feel. Blue Elephants. Purple Trees. Red Bears. Green Oceans -- it's all good. As you get older,
              thoughm everyone tells you to stay inside the lines, to color everything just like you see it. You end up painting by
              numbers -- whether you actually paint or whether you write or sing or dance or act or direct. I think you should
              create what you feel. Create outside the lines. I want to watch green oceans and red bears. I'd love to listen to
              purple trees. And I long to read blue elephants.</p>
              <footer class="blockquote-footer">WRDSMTH</footer>
            </blockquote>
        </div>
        <div class="col-sm-12 col-md-4">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="footer-link grey-text text-lighten-3" href="https://github.com/caitlanjeffrey">Github</a>
            </li>
            <li>
              <a class="footer-link grey-text text-lighten-3"
                href="https://www.linkedin.com/in/caitlan-jeffrey">LinkedIn</a>
            </li>
            <li>
              <a class="footer-link grey-text text-lighten-3" href="https://stackoverflow.com/users/12826336/luciensweetpea">Stack Overflow</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-copyright">
      <div class="container">
        © 2020 Copyright
      </div>
    </div>
  </footer>

  <!-- CDN -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
    integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!-- Local JavaScript -->
  <script src="/assets/javascript/index.js"></script>

</body>

</html>