
<div class="container projects">
    <h4 class="professional-bio-title">GALLERY</h4>
    <hr class="my-4">

    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/assets/images/gallery/out-west.jpeg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/assets/images/gallery/kites.jpeg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/assets/images/gallery/bull.jpeg" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
</div>