{{!-- Main Page View --}}

<!-- Professional Experience -->
<div class="container resume-skills">
    <h4 class="professional-bio-title">PROFESSIONAL SUMMARY</h4>
    <hr class="my-4">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <p class="lead" id="professional-bio-text">My years as a lead business analyst for a precision
                agriculture company opened my eyes to the world of development. I
                fell in love with the process of designing UI/UX for mobile devices, writing requirements for
                new features,
                communicating with users, potential clients and business partners on improvements and even the
                opportunity for a field
                trip to visit our users in action.</p>
            <div class="card">
                <img src="/assets/images/profile.jpeg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <p class="lead" id="professional-bio-text">My favorite part of the day was working and communicating
                with various teams throughout the company to build a product that met the needs of every user who
                downloaded the application.</p>
            <p class="lead" id="professional-bio-text">Those years laid a foundation for my movement towards the
                development side. I’ve combined my love of designing user-friendly design with actually building those
                pages and
                processes one by one.</p>
            <p class="lead" id="professional-bio-text">There is a sense of satisfaction with being behind a working product.
                Since that first day in class where I opened my first HTML5 page, I haven’t looked back.</p>
            <p class="lead" id="professional-bio-text">I'm hooked!</p>
            <div class="history">
                <div class="card" id="my-history">
                    <h5 class="card-header card-header-history">Education</h5>
                    <div class="card-body card-body-achievements">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h3 class="history-header">B.S. Animal Science - Agricultural Education</h3>
                                <p class="achievement-header-subtext">Oklahoma State University, 2012</p>

                                <h3 class="history-header">Certificate Coding Bootcamp: Web Development</h3>
                                <p class="achievement-header-subtext">UC Davis Continuing and Professional Education, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-4">

<!-- Achievements -->
<div class="container achievements">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded" id="my-achievements">
        <h5 class="card-header card-header-achievements">Career Achievements</h5>
        <div class="card-body card-body-achievements">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h3 class="achievement-header">6</h3>
                    <p class="achievement-header-subtext">years of experience</p>
                    <p class="achievement-description">As a project manager for a precision agriculture company.</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h3 class="achievement-header">7</h3>
                    <p class="achievement-header-subtext">projects</p>
                    <p class="achievement-description">Including mobile, web, desktop and marketing applications.</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h3 class="achievement-header">407</h3>
                    <p class="achievement-header-subtext">git contributions</p>
                    <p class="achievement-description">Since beginning the UC Davis Coding Bootcamp in September 2019!</p>
                </div>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h3 class="achievement-header">2</h3>
                    <p class="achievement-header-subtext">Memberships</p>
                    <p class="achievement-description">For Women In Leadership Organizations.</p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h3 class="achievement-header">1</h3>
                    <p class="achievement-header-subtext">GIS Certification</p>
                    <p class="achievement-description">Issued May 2013</p>
                </div>
            </div>
            <p class="card-text"><small class="text-muted">Last Updated January 2020</small></p>
        </div>
    </div>
</div>

<!-- Latest Work -->
<div class="latest-work">
    <div class="container">
        <h4 class="latest-work-title">MY LATEST WORK</h4>
        <hr class="my-4">
        <div class="">
            <p class="lead" id="professional-bio-text">I found my passion while working in the precision agriculture
                sector, but I found my love when I took a leap and started coding.</p>
            <p class="lead" id="professional-bio-text">Here are a few of my favorite projects!</p>
        </div>
        <div class="card-deck">
            <div class="card project-1">
                <img src="/assets/images/project-images/Lassen.jpg" class="card-img-top" alt="National Park Geek">
                <div class="card-body">
                    <h5 class="card-title">National Park Geek</h5>
                    <p class="card-text">Plan a trip to your local national park!</p>
                    <p class="card-text"><small class="text-muted">Project #1</small></p>
                </div>
                <div class="card-footer">
                    <small class="text"><a href="https://github.com/caitlanjeffrey/Project1.git">Access Repository</a></small>
                </div>
            </div>
            <div class="card project-2">
                <img src="/assets/images/project-images/wagsplashimage.jpg" class="card-img-top" alt="Wag">
                <div class="card-body">
                    <h5 class="card-title">Wag</h5>
                    <p class="card-text">Find your next best friend using Wag, the Tinder match for pet adoptions!
                    </p>
                    <p class="card-text"><small class="text-muted">Project #2</small></p>
                </div>
                <div class="card-footer">
                    <small class="text"><a href="https://github.com/caitlanjeffrey/Project-2.git">Access Repository</a></small>
                </div>
            </div>
            <div class="card bamazon">
                <img src="/assets/images/project-images/bamazon.png" class="card-img-top" alt="Bamazon">
                <div class="card-body">
                    <h5 class="card-title">Bamazon</h5>
                    <p class="card-text">Geoffry Aezos's Bamazon Welcomes You!</p>               
                </div>
                <div class="card-footer">
                    <small class="text"><a href="https://github.com/caitlanjeffrey/bamazon.git">Access Repository</a></small>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" id="more-projects-btn" href="/projects" role="button">More Projects</a>
    </div>
</div>

<!-- Skills -->
<div class="skills shadow-lg p-3 mb-5 bg-white rounded">
    <div class="container">
        <h4 class="skills-title">ABOUT MY SKILLS</h4>
        <hr class="my-4">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h3 class="skills-header">Development</h3>
                <p class="skills-description">As a project manager for a precision agriculture company.</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" data-label="words" style="width: 25%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3 class="skills-header">Project Management</h3>
                <p class="skills-description">Including mobile, web and desktop applications</p>
            </div>
        </div>
    </div>
</div>

<hr class="my-4">

<div class="contact-me-part-1">
    <div class="container">
        <h4 class="contact-me-title">LET'S MEET AND TALK!</h4>
        <h4 class="contact-me-title-bottom">CALL ME 580.548.3554</h4>
        <h4 class="contact-me-title-bottom">OR SEND ME AN EMAIL BELOW</h4>
    </div>
</div>