
<div class="container projects">
    <h4 class="professional-bio-title">DEVELOPMENT PROJECTS</h4>
    <hr class="my-4">

    <div class="card-deck project-deck">
        <div class="card project-card">
            <img src="/assets/images/project-images/bobs_burgers_main.jpg" class="card-img-top" alt="Sequelize Burger">
            <div class="card-body">
                <h5 class="card-title">Sequelize Burger</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text"><a id="repository-link"
                        href="https://github.com/caitlanjeffrey/sequelizeBurger.git">Access
                        Repository</a></small>
            </div>
        </div>
        <div class="card project-card">
            <img src="/assets/images/project-images/background.jpeg" class="card-img-top" alt="Crystal">
            <div class="card-body">
                <h5 class="card-title">Crystal Game</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text"><a id="repository-link"
                        href="https://github.com/caitlanjeffrey/unit-4-game.git">Access
                        Repository</a></small>
            </div>
        </div>
        <div class="card project-card">
            <img src="/assets/images/project-images/fantasy_island.jpg" class="card-img-top" alt="Fantasy Friend Island">
            <div class="card-body">
                <h5 class="card-title">Fantasy Friend Island</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text"><a id="repository-link"
                        href="https://github.com/caitlanjeffrey/friend_finder.git">Access
                        Repository</a></small>
            </div>
        </div>
    </div>
    <div class="card-deck project-deck">
        <div class="card project-card">
            <img src="/assets/images/project-images/amtrak-train-ventura-california.jpg" class="card-img-top" alt="Train-Game">
            <div class="card-body">
                <h5 class="card-title">Train Depot</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text"><a id="repository-link" href="https://github.com/caitlanjeffrey/train-activity.git">Access
                        Repository</a></small>
            </div>
        </div>
    </div>
    <div class="card-deck project-deck card-deck-last">
        <div class="card project-card">
            <img src="/assets/images/project-images/bobs-burger.jpg" class="card-img-top" alt="Eat-Da-Burger">
            <div class="card-body">
                <h5 class="card-title">Eat-Da-Burger</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text"><a id="repository-link" href="https://github.com/caitlanjeffrey/eat-da-burger.git">Access
                        Repository</a></small>
            </div>
        </div>
        <div class="card project-card">
            <img src="/assets/images/project-images/liri-bot.jpg" class="card-img-top" alt="Liri-Bot">
            <div class="card-body">
                <h5 class="card-title">Liri-Bot</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
            <div class="card-footer">
                <small class="text"><a id="repository-link" href="https://github.com/caitlanjeffrey/liri-node-app.git">Access
                        Repository</a></small>
            </div>
        </div>
    </div>
</div>