/* Main App Colors */
    /* Orange (#fe7a13) */
    /* Gold (#fdbe01) */
    /* Text (whitesmoke)*/
    /* Text (#110c06)*/
    /* Text (Sienna #43160c) */

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

/* Navigation */
    .nav, .justify-content-center {
        background-color: #fe7a13;
    }

    .nav-link {
        color: whitesmoke;
        font-size: 24px;
    }

/* Jumbotron */
    .jumbotron {
        background-image: url("../images/concrete.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 820px;
    }

    #logo {
        margin-top: 130px;
        height: 50%;
    }

    .welcome-text {
        font-size: 20px;
        color: whitesmoke;
        font-weight: bold;
        text-align: right;
    }

    .name {
        font-size: 36px;
        text-align: right;
    }

/* Professional Bio */
    .professional-bio-title {
        color: #804b38;
        font-size: 20px;
        text-align: right;
        font-weight: 1000;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        text-align: justify;
    }

    .latest-work-title, .skills-title {
        color: #43160c;
        font-size: 16px;
        text-align: right;
        font-weight: 1000;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        text-align: left;
    }

    #professional-bio-text{
        padding: 0 0.5rem;
    }
    
    #profile-picture {
        border-radius: 30%;
        padding-bottom: 2rem;

    }

.card {
    margin-top: 2rem;
}

.card-body-achievements {
    background-color: whitesmoke;
}

.card-header-achievements {
    font-weight: 800;
    background-color: #fdbe01;
    color: whitesmoke;
    text-align: center;
}

h3 {
    color: #804b38;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin: 0;
}

.achievement-header-subtext {
    color: black;
    /* font-weight: ; */
    font-size: 20px;
    text-align: center;
}

.achievement-description {
    color: black;
    /* font-weight: ; */
    font-size: 16px;
    text-align: center;
}

#more-projects-btn {
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    background-color: #804b38;
    border-color: #804b38;
}

#send-me-an-email {
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    background-color: #804b38;
    border-color: #804b38;
}

/* Skills */
.latest-work-title {
    margin-top: 2rem;
    clear: right;
}

.skills {
    clear: right;
    margin-top: 1rem;
}

.card-body-skills {
    background-image: url("/images/butterfly-migration\ 2.jpeg");

    opacity: 50%
}

#my-skills {
    background: transparent;
}

.skills {
    background-color: whitesmoke;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.skills-header {
    text-align: left;
    font-size: 20px;
}

.progress {
    margin-top: 10px;
    height:3px;
}

.progress-bar {
    height: 3px;
}

.page-footer {
    background-image: url("/assets/images/butterfly-migration.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    color: whitesmoke;
}

.footer-link {
    color: black;
}
